body {
    background: var(--background);
    color: var(--text);
    // overflow-x: hidden;
    max-width: 100vw;
    margin-left: 5.5rem;
    margin-top: 6rem;
    margin-right: 1rem;
    // text-align: right;
}

@media screen and (max-width: 925px) {
    body {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 652px) {
    body {
        margin-bottom: 5.8rem;
    }
}